@import '../../sass/';

$leftWidth: 50px;
$rightWidth: 60px;

.OuterContainer {
	&.Complete {
		opacity: 0.4;
	}
	.TodoItemContainer {
		@include flex-center;

		margin-bottom: 10px;
		transition: 0.2s;

		.TodoCompleteToggleContainer,
		.TodoMenuContainer {
			@include flex-center-row;

			svg {
				color: $light-grey;
			}
		}

		.TodoCompleteToggleContainer {
			svg {
				font-size: 35px;
			}
			width: $leftWidth;
		}

		.TodoItemColorContainer {
			width: calc(100% - (#{$leftWidth} + #{$rightWidth}));
			display: flex;
			align-items: stretch;
			border-radius: 40px;
			color: white;

			p {
				margin: 0;
			}

			.TodoDetails {
				padding: 10px 25px;

				.TodoTitle {
					font-size: 15px;
				}

				.DueDate {
					margin-top: 4px;
					font-size: 10px;
					padding-left: 15px;
				}
			}

			.IconContainer,
			.TodoItemList {
				@include flex-center-row;
			}

			.IconContainer {
				margin-left: auto;
				display: flex;
				padding: 0 15px 0 5px;

				svg {
					font-size: 20px;
					margin: 0 5px;
				}

				.SubTaskButton {
					@include flex-center;
					width: 50px;
					margin-left: 5px;
					&:hover {
						cursor: pointer;
					}
				}
			}

			.TodoItemList {
				border-left: 1px white solid;
				width: 200px;
				text-align: center;
				position: relative;

				&:hover,
				p:hover {
					cursor: pointer;
				}
			}
		}
	}

	.TodoMenuContainer {
		width: $rightWidth;
		svg {
			cursor: pointer;
			font-size: 22px;
		}
	}
}

p {
	&:hover {
		cursor: default;
	}
}
