@import '../../sass/';

.MainContainer {
	margin-left: 70px;
	margin-bottom: 20px;
	padding: 0 0 10px 0px;

	.InputContainer {
		margin: 0 60px 0 10px;
		display: flex;
		align-items: center;

		.AddSubTaskButton,
		.CloseSubTaskButton {
			align-items: center;
			color: $light-grey;
			opacity: 0.5;
			transition: 0.2s;
			height: 25px;

			svg {
				margin: 0 10px 0 0;
				font-size: 25px;
			}
			p {
				margin: 0;
			}
			display: flex;

			&:hover,
			p:hover {
				opacity: 1;
				cursor: pointer;
			}
		}

		.InputWrapper {
			padding: 0 0 0 15px;
			border-radius: 20px;
			border: solid 3px;
			width: 100%;
			display: flex;
			display: flex;
			align-items: center;
			background-color: white;

			input {
				padding: 7px;
				width: 100%;
				border: none;
				outline: none;
			}

			button {
				border-radius: 20px;
				border: none;
				margin-right: 3px;
				margin-bottom: 1px;
				margin-left: auto;
				font-size: 12px;
				width: 25px;
				height: 25px;
				background-color: $light-grey;
				color: white;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
