@import '../../../sass/';

.TriggerIcon {
	&:hover {
		cursor: pointer;
	}
}

.DateFilterMenu {
	display: flex;
	flex-direction: column;

	&:hover {
		cursor: pointer;
	}

	.MenuButton {
		margin-bottom: 3px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.ActiveFilterButton {
	display: flex;
	align-items: center;
	border: solid 1px $dark-grey;

	margin: 0 10px;
	height: 26px;
	padding: 4px 10px 4px 14px;

	p {
		margin: 0;
		line-height: 12px;
	}

	.FilterX {
		margin: 0 0 0 5px !important;
	}

	svg {
		margin: 0;
		font-size: 15px;
		&:hover {
			cursor: pointer;
		}
	}
}
