@import '../sass/';

.ContentContainer {
	height: calc(100vh - (#{$nav-height} + #{$input-height}));
	overflow-y: scroll;

	display: flex;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
	flex-wrap: nowrap !important;
	margin-top: 0 !important;

	.ListRow {
		display: flex;
		min-height: 70px;

		.ListCollectionContainer {
			@include flex-center;

			flex-wrap: wrap;
			width: 100%;
			padding: 15px 10px;
		}

		.ListUtilityColumn {
			display: flex !important;
			align-items: center;
			padding: 15px 5px;
			min-height: 78px;

			svg {
				font-size: 30px;
				color: $dark-grey;
				margin-right: 20px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.TodoRow {
		.TodosContainer {
			display: flex !important;
			flex-direction: column;
			justify-content: flex-start;

			// max-height: calc(100vh - (#{$nav-height} + #{$input-height}));
			// overflow-y: scroll;
		}
	}
}

.InputContainer {
	height: $input-height;
}
