@import '../../../sass/';

.ListActionsMenu {
	display: flex;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
	p {
		transition: 0.2s;
		&:hover {
			cursor: pointer;
			color: $light-grey;
		}
	}
}
