@import '../../../sass/';

.ListActionMenuButton {
	background-color: $dark-grey;
	padding: 4px 12px;
	font-size: 12px;
	border-radius: 4px;
	color: white;
	&:hover {
		cursor: pointer;
	}
	p {
		&:hover {
			cursor: pointer;
		}
	}
}

.ListActionsMenu {
	display: flex;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
	p {
		transition: 0.2s;
		&:hover {
			cursor: pointer;
			color: $light-grey;
		}
	}

	svg {
		margin: 0 5px;
	}
}
