@import '../../sass/';

.NavOuterContainer,
.NavInnerContainer {
	height: $nav-height;
	z-index: 90;
	display: flex;
	align-items: center;

	.FilterIcons {
		display: flex;
		margin-right: auto;
		svg {
			margin: 0;
		}
	}
	svg {
		font-size: 19px;
	}
}

.NavInnerContainer {
	width: 100%;

	.IconWrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 35px;
		border: solid 1px $light-grey;
		margin-right: 10px;
	}

	.MyDayFilterContainer,
	.SubTaskFilterContainer {
		width: 35px;
	}

	[data-icon-active='1'],
	[data-date-filter='1'] {
		&[data-dark-icon='1'] {
			$shadow-color: rgba(153, 145, 145, 0.65);
			background-color: $light-grey !important;

			svg {
				color: $dark-mode-bg !important;
			}
		}

		&[data-dark-icon='0'] {
			$shadow-color: rgba(153, 145, 145, 0.65);
			background-color: $dark-grey;
			box-shadow: 2px 2px 5px $shadow-color, -2px -2px 5px $shadow-color,
				-2px 2px 5px $shadow-color, 2px -2px 5px $shadow-color;
			svg {
				color: $light-mode-bg !important;
			}
		}
	}
}
[data-date-filter='1'] {
	width: 120px;
}
[data-date-filter='0'] {
	width: 35px;
}
