@import '../../sass/';

$button-width: 80px;
$drop-select-width: 180px;

.TodoInputContainer {
	width: 100%;
	border-radius: 20px;
	padding: 3px;

	.InputInner {
		display: flex;
		justify-content: flex-start;

		.InputWrapper {
			display: flex;
			align-items: center;
			padding-left: 20px;
			background-color: white;
			border-radius: 20px;
			width: calc(100% - #{$drop-select-width});

			.TodoInput {
				width: 100%;
				outline: none !important;
			}

			input {
				border: none !important;
			}
			.TodoAddButton {
				border-radius: 25px !important;
				padding: 0 0 0 1px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				color: white;
			}
		}

		.DropMenu {
			width: $drop-select-width;
			display: flex;
			align-items: center;
			justify-content: center;

			.OptionText {
				font-size: 15px;
				span {
					svg {
						font-size: 20px;
						margin-bottom: -5px;
						margin-right: 8px;
					}
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
